In [1]:
print(1+1)

2

In [2]:
(1+1)

2

In [3]:
6 ** 2

36

In [4]:
13//2 #devide and round to the nearest integer

6

In [5]:
age, name, gender = 21, 'Mohamed', 'male' #can't use symbols like $&# in variable names
age, name, gender

(21, 'Mohamed', 'male')

In [6]:
age+=5
age

26

In [7]:
x=7
y=3
z=x/y
print(z)
print(type(z))

2.3333333333333335
<class 'float'>

In [8]:
print(type(int(7/3.5)))

<class 'int'>

In [9]:
w=int(3.7)
w

3

In [10]:
dialogue = 'Omar said "nothing is given"'
print(dialogue)

Omar said "nothing is given"

In [11]:
dialogue = '3omd4 replied \'Every thing is Earned\''
print(dialogue)

3omd4 replied 'Every thing is Earned'

In [12]:
segment_1="I'm 21"
segment_2="years old"
sentence= segment_1 + 3*' ' + segment_2
print(sentence)

I'm 21   years old

In [13]:
print(len(sentence)) #returns the length of the string

18

In [14]:
flag_1=True
flag_2=False

In [15]:
comparison = 1>2 or not 1<2
print (comparison)
print(type(comparison))

False
<class 'bool'>

In [16]:
#methods

In [17]:
movie = 'Harry Potter'
print(movie.upper())
print(movie.lower())
print(movie.count('r'))

HARRY POTTER
harry potter
3

In [18]:
# sequence [element_1, element_2, element_3] (lists& tuples)

In [19]:
names = ['jane', '3omd4', 'du7ha'] # list
names[0]

'jane'

In [20]:
random = [True, 'Hello', 69] # lists can have different data types
print(type(random))
print(type(random[0]))
print(type(random[1]))
print(type(random[2]))

<class 'list'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [21]:
print(random[-1])
print(random[-2])
print(random[-3])

69
Hello
True

In [22]:
#16 SLICING

In [23]:
numbers =[0,1,2,3,4,5,6,7,8,9,10]
print(numbers[2:10])
print(numbers[0:8])
print(numbers[:8])
print(numbers[3:])

[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
numbers = list(range(0, 10))
print (numbers)
numbers = list(range(0, 10,2))
print (numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [25]:
months = ['june', 'february']
print('june' not in months)
print('june' in months)

False
True

In [26]:
course = 'python crash course'
print('crash' in course)

True

In [27]:
list_mutable = ['banana','tomato']
list_mutable[1]='potato'
print (list_mutable)

['banana', 'potato']

In [28]:
string_immutable='tomate'#strings once declared cannot be changed
string_immutable[-1]='o'
print(string_immutable)

TypeError: 'str' object does not support item assignment

In [20]:
#immutable
name='ameer'
other_name=name
name='omar'#name now refer to different object
print(name)
print(other_name)

omar
ameer

In [21]:
#mutable
books=['taxi driver', 'mazerunner']
other_books=books
books[0]='lord of rings'
print(books)
print(other_books)
#both variable refer to the same object

['lord of rings', 'mazerunner']
['lord of rings', 'mazerunner']

In [29]:
numbers=[1, 2 ,7 ,4]
print (len(numbers))
print(max(numbers)) 
sorted(numbers)

4
7

[1, 2, 4, 7]

In [27]:
names=['thomas', 'zak', 'jack']
print(max(names))#lexicographically largest string
print(min(names))#lexicographically smallest string
#to use max/min with lists all objects should be of the same type
sorted(names)

zak
jack

['jack', 'thomas', 'zak']

In [32]:
str=','.join(['1','2','3'])
print(str)
print(type(str))

1,2,3
<class 'str'>

In [33]:
print('this is {}, {}, and {}'.format('crab', 'fuck', 'shit'))

this is crab, fuck, and shit

In [35]:
months = ['june', 'february']
months.append('january')
print(months)

['june', 'february', 'january']

In [39]:
#tuple (immutable)
traits= 'tail', 'slim', 'blind'
print(type(traits))
dog, cat = traits[0], traits[1]
print (traits)
print(dog, cat)

<class 'tuple'>
('tail', 'slim', 'blind')
tail slim

In [46]:
#sets
duplicate_numbers=[1,1,2,2,3,3]
unique_numbers=set(duplicate_numbers)#sets are unordered & doesn't support indexing instead we can use in/not in
print(unique_numbers)
print(type(unique_numbers))
unique_numbers.add(4)
print(unique_numbers)

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4}

In [53]:
#Dinctionaries
tall={'3omd4':182, 'Osama': 171, 'MEXI': 176}#not ordered by values insted can be indexed using keys which are unique
print(tall['3omd4'])
tall['du7ha']=185
print(tall['du7ha'])
print(tall.get('Omar'))
print(tall.get('Osama'))
print('MEXI' in tall)
print(182 in tall)

182
185
None
171
True
False

In [56]:
grocery_items={'banana':{'price':15,'Kilos':3},'Potato':{'price':10,'Kilos':5}}
print(grocery_items['banana'])
print(grocery_items['Potato']['price'])

{'price': 15, 'Kilos': 3}
10

In [66]:
groucery_items = {'bananas': 2.99,'apples': 1.29,'papayas':2.99}
item='brussel aprotoute'
if item in groucery_items:
    print('found the', item)
else:
    print('didn\'t found the', item)
    groucery_items.update({item: 2.3})
    print('just added the', item)
print(groucery_items)

didn't found the brussel aprotoute
just added the brussel aprotoute
{'bananas': 2.99, 'apples': 1.29, 'papayas': 2.99, 'brussel aprotoute': 2.3}

In [68]:
groucery_items = {'bananas': 2.99,'apples': 1.29,'papayas':2.99}
item, price='potato', 10
if item in groucery_items:
    print('found the', item)
    
elif price>=10:
    print('too expensive')

else:
    print('didn\'t found the', item)
    groucery_items.update({item: 2.3})
    print('here is the updated list', groucery_items)

too expensive

In [71]:
movies={'titanic':1995, 'finding nemo': 2003}
for key in movies:
    print(key)

for (key, value) in movies.items():
    print(key, value)

titanic
finding nemo
titanic 1995
finding nemo 2003

In [73]:
def rec_area(length, width):
    '''
    this is a docstring
    INPUT: length and width of rectangle

    OUTPUT:...
    '''
    return length*width

print(rec_area(3, 4))

12

In [77]:
numbers=[1, 2, 3, 4, 5]

def even_odd(num):
    return num%2==0

print(type(filter(even_odd, numbers)))
numbers = list(filter(even_odd, numbers))
print(numbers)

<class 'filter'>
[2, 4]

In [78]:
numbers=[1, 2, 3, 4, 5]

numbers = list(filter(lambda num: num%2==0, numbers))
print(numbers)

[2, 4]